# Compiled class file
*.class

# Log file (includes your /logs directory)
*.log
logs/

# Build Artifacts
target/
bin/
build/

# IDE specific files (Eclipse / STS)
.metadata/
.settings/
.factorypath
.project
.classpath
.springBeans
.recommenders/

# Package Files
*.jar
*.war
*.zip
*.tar.gz

# Environment & Secrets
.env
*.properties.local
application-local.properties

# virtual machine crash logs
hs_err_pid*
replay_pid*
